1st QUESTION

Values : “hello”,  -87.8, 6

Expressions: *,  -,  /,  +

2nd QUESTION

String:

A string is a data type used to represent a sequence of characters. 
It is typically used to store and manipulate textual data.
Strings are enclosed in quotation marks (single or double) to differentiate them from other types of data.
Ex : "hello", 'world', "42"

Variable:

A variable is a named storage location in a computer's memory that can hold a value of a specific type.
Variables are used to store and manipulate data in a program.
They allow us to assign values to them, update the values, and use them in expressions and calculations.
The value stored in a variable can be of different types, such as strings, numbers, booleans, etc
Ex : name = "Alice"  , Age =21

3rd QUESTION

Integer (int):
The integer data type represents whole numbers, both positive and negative, without any fractional or decimal part.
Ex : -3, 0, 42, 1000

String (str):
The string data type represents a sequence of characters, enclosed in either single quotes (' ') or double quotes (" ").
Strings are used to represent textual data, such as names, sentences, or any other sequence of characters.
Ex : "Hello, world!", 'Python is awesome', "42"

List (list):
The list data type is an ordered collection of items enclosed in square brackets [ ] and separated by commas.
Lists can contain elements of different types, such as integers, strings, or even other lists.
Lists are mutable, meaning their elements can be modified or updated after they are created.
Ex : [1, 2, 3], ["apple", "banana", "orange"], [1, "two", [3, 4, 5]]

4th QUESTION

An expression is a combination of variables, values, operators, and operands that evaluates to a single value.It can be as simple as a single value or variable, or it can be a complex combination of multiple components

EX :a = 7
    b = 18
    c = a+b ==>it is a expression. and + is the operator and a,b are operands

5th QUESTION

An expression is a combination of variables, values, operators, and operands that evaluates to a single value.
Ex : 2 + 3, x * y, len("hello"), a > b

A statement is a complete line or block of code that performs an action or controls the flow of execution.Statements are used to carry out specific tasks or operations, such as assignments, loops, conditionals, function declarations, and more.
Ex : spam = 10, if x > 0:, for item in my_list:, def my_function():

6th QUESTION

The variable bacon will still contain the value 22. Because in the given code bacon+1 evalutes the value but it doesnt assign to any variable. so the bacon variable still consists of value 22

7th QUESTION

'spam' + 'spamspam' gives the output as ==> 'spamspamspam'
'spam' * 3 gives the output as ==> 'spamspamspam'
so both results same output

8th QUESTION

eggs is valid because it starts with a letter and only contains letters. 100 is not a valid variable name because it starts with a number.Variable names cannot start with a number in Python

9th QUESTION

str(): This function can be used to convert a value to its string representation. It takes a single argument and returns a string version of that value.

In [2]:
value = 42
string_value = str(value)
print(string_value)  # Output: "42"

42

float(): This function can be used to convert a value to a floating-point number. It takes a single argument and returns a floating-point representation of that value if possible. If the argument cannot be converted to a floating-point number, it raises a ValueError.

In [4]:
value = "3.14"
float_value = float(value)
print(float_value)  # Output: 3.14

3.14

int(): This function can be used to convert a value to an integer. It takes a single argument and returns an integer representation of that value if possible. If the argument cannot be converted to an integer, it raises a ValueError

In [5]:
value = "42"
integer_value = int(value)
print(integer_value)  # Output: 42

42

10TH QUESTION

It causes an error because it tries to concatenate a string ('I have eaten ') with an integer (99) using the + operator.

To fix the error and correctly concatenate the string and integer, we can convert the integer to a string using the str() function.

In [6]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'